@font-face {
    font-family: "Gilroy Extrabold";
    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
         url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/gilroylight.woff2") format("woff2"),
         url("../fonts/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/opensans.woff2") format("woff2"),
         url("../fonts/opensans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/opensanslight.woff2") format("woff2"),
         url("../fonts/opensanslight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@keyframes bounce {
  0%   {
    transform: translateY(-2000px);
  }
  70%  {
    transform: translateY(30px);
  }
  90%  {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input::-ms-clear {
   display: none;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-width: 1160px;
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 15px;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: #000;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
    line-height: 30px;
}
h2 {
    margin: 0;
    padding: 0;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-weight: normal;
    font-size: 47px;
}
h4 {
    margin: 0;
    padding: 0;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.page-header {
    position: relative;
    padding: 16px 60px 48px;
    margin: 0 auto;
    width: 1040px;
    width: 1160px;
    min-height: 186px;
    background: linear-gradient( #fff 40px, #f7e296 40px);
}
.main-logo {
    display: inline-block;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    vertical-align: top;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.main-logo--header {
    margin-left: -4px;
    margin-bottom: 10px;
}
.main-logo--header:hover {
    color: #464646;
}
.main-logo--header:active {
    color: #666666;
}
.main-logo--header-catalog {
    position: relative;
    left: -1px;
    top: 2px;
    margin-left: 0;
}
.main-nav__items {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    line-height: 20px;
}
.main-nav__item  {
    margin-left: 35px;
}
.main-nav__item > a:hover,
.main-nav__sub-item:hover > a {
    opacity: 0.6;
}
.main-nav__item > a:active ,
.main-nav__sub-item:active > a {
    opacity: 0.3;
}
.main-nav__item > a {
    display: inline-block;
    padding-bottom: 5px;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    vertical-align: top;
}
.main-nav__item--catalog {
    width: 255px;
    margin: 0;
    margin-right: 250px;
}
.main-nav__item--catalog > a {
    position: relative;
    padding-right: 29px;
}
.main-nav__item--catalog > a::after {
    content: "";
    position: absolute;
    top: 8px;
    right: 0;
    width: 16px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.2);
}
.main-nav__item--catalog > a::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 7px;
    width: 2px;
    height: 16px;
    background-color: rgba(0, 0, 0, 0.2);
}
.main-nav__item--catalog:hover .main-nav__sub-items {
    display: -ms-flexbox;
    display: flex;
}
.main-nav__item--guarantee {
    margin: 0 auto 0 35px;
}
.main-nav__sub-items {
    position: absolute;
    top: 17px;
    left: -60px;
    display: none;
    padding: 25px 420px 20px 60px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 1160px;
    z-index: 5;
    overflow: hidden;
    background-color: #f7e296;
    min-height: 167px;
}

.main-nav__sub-item {
    margin-right: 20px;
    width: 180px;
}
.main-nav__sub-item:nth-child(3n+1) {
    width: 220px;
}
.main-nav__sub-item a {
    display: inline-block;
    line-height: 36px;
    letter-spacing: 0.2px;
    vertical-align: top;
}
.main-nav__sub-item:last-child {
    margin-right: 200px;
}
.main-nav__user-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
}
.main-nav__user-items {
    margin-bottom: 32px;
}
.main-nav__user-item {
    margin-left: 39px;
    font-size: 0;
}
.main-nav__user-item a:hover {
    opacity: 0.6;
}
.main-nav__user-item a:active {
    opacity: 0.3;
}
.main-nav__user-item a {
    display: inline-block;
    padding-left: 26px;
    font-size: 15px;
    line-height: 35px;
    vertical-align: top;
}
.main-nav__user-item--login {
    margin-left: 0;
    margin-right: 81px;
    width: 160px;
}
.main-nav__user-item--current {
    margin-left: 0;
    margin-right: 18px;
    width: 159px;
}
.main-nav__user-item--logout {
    margin-left: 0;
    margin-right: 20px;
}
.main-nav__user-item--login-in {
    display: none;
}
.main-nav__user-item--logout .main-nav__user-logout {
    padding-left: 0;
}
.main-nav__user-item--current .main-nav__user-current {
    padding-left: 27px;
    word-spacing: 2px;
}
.main-nav__user-item--search {
    margin-left: 0;
    margin-right: 41px;
    width: 499px;
}
.main-nav__user-item--search:hover .main-nav__search-label {
    color: rgba(0, 0, 0, 0.6);
}
.main-nav__search-form {
    position: relative;
    font-size: 0;
}
.main-nav__search-field {
    display: inline-block;
    padding: 6px 10px 7px 39px;
    width: 356px;
    height: 49px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 15px;
    line-height: 36px;
    vertical-align: bottom;
    word-spacing: 0.5px;
    background: transparent;
}
.main-nav__search-field:focus {
    box-shadow: inset 0px -2px 0 0 #000;
}
.main-nav__search-field:focus + .main-nav__search-label,
.main-nav__search-field:valid + .main-nav__search-label {
    display: none;
}
.main-nav__search-btn {
    display: none;
    padding: 7px 23px 6px 20px;
    margin: 0;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: 36px;
    background-color: transparent;
    vertical-align: bottom;
    box-shadow: inset 0 0 0 2px #000;
    cursor: pointer;
}
.main-nav__search-field:focus ~ .main-nav__search-btn {
    display: inline-block;
    vertical-align: bottom;
}
.main-nav__search-label {
    position: absolute;
    left: 39px;
    top: 6px;
    font-size: 15px;
    line-height: 36px;
    word-spacing: 0.5px;
    cursor: text;
    color: rgba(0, 0, 0, 0.3);
}
.main-nav__search-btn:hover {
    color: #fff;
    background-color: #000;
}
.main-nav__search-btn:active {
    display: inline-block;
    vertical-align: bottom;
    color: #434343;
}
.promo {
    position: relative;
    margin: 0 auto;
    width: 1160px;
    background: linear-gradient( #f7e296 113px, #fff 113px);
}
.promo__item {
    position: relative;
    padding-left: 600px;
    padding-top: 82px;
    padding-bottom: 54px;
    display: none;
    min-height: 398px;
    background: url("../img/slider-1.png") no-repeat 90px 2px;
}
.promo__item--bracelet {
    background: url("../img/slider-2.png") no-repeat 116px 14px;
}
.promo__item--quadrocopter {
    background: url("../img/slider-3.png") no-repeat 31px 67px;
}
#promo-input-1:checked ~ .promo__item:first-of-type {
    display: block;
}
#promo-input-2:checked ~ .promo__item:nth-of-type(2) {
    display: block;
}
#promo-input-3:checked ~ .promo__item:nth-of-type(3) {
    display: block;
}
#promo-input-1:checked ~ .promo__controls .promo__toggle[for="promo-input-1"] {
    opacity: 1;
}
#promo-input-2:checked ~ .promo__controls .promo__toggle[for="promo-input-2"] {
    opacity: 1;
}
#promo-input-3:checked ~ .promo__controls .promo__toggle[for="promo-input-3"] {
    opacity: 1;
}
.promo__item::before {
    content: "";
    position: absolute;
    top: 39px;
    width: 100px;
    height: 7px;
    background-color: #fff;
}
.promo__item::after {
    content: "01";
    position: absolute;
    top: -14px;
    right: 49px;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-size: 179.2px;
    line-height: 179.2px;
    color: #fff;
}
.promo__item:nth-of-type(2)::after {
    content: "02";
}
.promo__item:nth-of-type(3)::after {
    content: "03";
}
.promo__item-title {
    position: relative;
    margin-left: -2px;
    margin-bottom: 20px;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-weight: normal;
    line-height: 55px;
    word-spacing: 3px;
    z-index: 5;
}
.promo__item-desc {
    width: 485px;
    margin-bottom: 43px;
    word-spacing: 1px;
}
.btn {
    display: inline-block;
    padding: 11px 43px;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    vertical-align: top;
    letter-spacing: 3.5px;
    background: linear-gradient( transparent 16px , #f0c52e 16px, #f0c52e 24px, transparent 24px );
    text-align: center;
    cursor: pointer;
}
.btn:hover {
    background: #f0c52e;
}
.btn:active {
    background: #f0c52e;
    color: rgba(0, 0, 0, 0.3);
}
.btn--more {
    margin-bottom: 53px;
}
.promo__features-value {
    margin-bottom: 10px;
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 36px;
}
.promo__features-name {
    font-size: 13px;
    line-height: 20px;
}
.promo__input {
    display: none;
}
.promo__controls {
    position: absolute;
    top: 61.8%;
    right: 0;
    width: 245px;
    font-size: 0;
    text-align: center;
}
.promo__toggle {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 11.5px;
    vertical-align: top;
    border-radius: 50%;
    border: 3px solid #000;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.3;
}
.promo__toggle:hover {
    opacity: 0.6;
}
.promo__toggle:active {
    opacity: 1;
}
.promo__toggle::before {
    content: "";
    position: absolute;
    left: -11px;
    top: -10px;
    width: 25px;
    height: 25px;
}
.promo__features-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.promo__features-item {
    margin-right: 80px;
}
.promo__features-item--slide-3 {
    margin-right: 50px;
}
.popular {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin: 0 auto;
    padding: 60px 0 84px;
    width: 1160px;
}
.popular__item {
    display: block;
    width: 160px;
}
.popular__pic {
    position: relative;
    margin-bottom: 34px;
    height: 160px;
    background-color: #f7e296;
}

.popular__item:first-child .popular__pic {
    background: #f7e296 url("../img/popular-1.png") no-repeat 50% 50%;
}
.popular__item:nth-child(2) .popular__pic {
    background: #f7e296 url("../img/popular-2.png") no-repeat 50% 100%;
}
.popular__item:nth-child(3) .popular__pic {
    background: #f7e296 url("../img/popular-3.png") no-repeat 55% 50%;
}
.popular__item:nth-child(4) .popular__pic {
    background: #f7e296 url("../img/popular-4.png") no-repeat 50% 52%;
}
.popular__item:nth-child(5) .popular__pic {
    background: #f7e296 url("../img/popular-5.png") no-repeat 53% 50%;
}
.popular__item:nth-child(6) .popular__pic {
    background: #f7e296 url("../img/popular-6.png") no-repeat 50% 53%;
}
.popular__item .popular__pic:hover {
    background-color: #f0c52e;
}
.popular__item .popular__pic:active {
    background-image: none;
}
.popular__item .popular__pic:active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("/img/popular-1.png") no-repeat 50% 50%;
    opacity: 0.3;
}
.popular__item:first-child .popular__pic:active::after {
    background: #f7e296 url("../img/popular-1.png") no-repeat 50% 50%;
}
.popular__item:nth-child(2) .popular__pic:active::after {
    background: #f7e296 url("../img/popular-2.png") no-repeat 50% 100%;
}
.popular__item:nth-child(3) .popular__pic:active::after {
    background: #f7e296 url("../img/popular-3.png") no-repeat 55% 50%;
}
.popular__item:nth-child(4) .popular__pic:active::after {
    background: #f7e296 url("../img/popular-4.png") no-repeat 50% 52%;
}
.popular__item:nth-child(5) .popular__pic:active::after {
    background: #f7e296 url("../img/popular-5.png") no-repeat 53% 50%;
}
.popular__item:nth-child(6) .popular__pic:active::after {
    background: #f7e296 url("../img/popular-6.png") no-repeat 50% 53%;
}
.popular__caption {
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
}
.services {
    background: linear-gradient(#fff 100px, #e5e5e5 100px);
}
.services__container {
    margin: 0 auto;
    padding-bottom: 69px;
    width: 1160px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.services input[type="radio"] {
    display: none;
}
.services__controls {
    padding-top: 80px;
    padding-bottom: 47px;
    width: 284px;
    border-right: 7px solid #000;
}
.services__item {
    display: none;
    padding-top: 68px;
    padding-bottom: 30px;
}
.services__item--delivery {
    background: transparent url("../img/delivery.png") no-repeat 558px 85px;
}
.services__item--warranty {
    background: transparent url("../img/warranty.png") no-repeat 542px 60px;
}
.services__item--credit {
    background: transparent url("../img/credit.png") no-repeat 533px 59px;
}
#services-tab-1:checked ~ .services__content .services__item--delivery {
    display: block;
}
#services-tab-2:checked ~ .services__content .services__item--warranty {
    display: block;
}
#services-tab-3:checked ~ .services__content .services__item--credit {
    display: block;
}
.services__title {
    letter-spacing: 1px;
    margin-bottom: 26px;
}
.services__info {
    width: 445px;
    letter-spacing: 0.3px;
}
.btn--services {
    position: relative;
    display: block;
    width: 160px;
    padding: 11px 5px 11px 16px;
    margin-bottom: 24px;
    text-align: center;
    cursor: pointer;
}
.services__content {
    width: 760px;
}
.services__radio-1:checked ~ .services__controls .btn--delivery,
.services__radio-2:checked ~ .services__controls .btn--warranty,
.services__radio-3:checked ~ .services__controls .btn--credit {
    background: #000;
    color: #f7e184;
    box-shadow: 120px 0 0 0 #000;
}
.services__radio-1:checked ~ .services__controls .btn--delivery::after,
.services__radio-2:checked ~ .services__controls .btn--warranty::after,
.services__radio-3:checked ~ .services__controls .btn--credit::after {
    content: "";
    position: absolute;
    right: -1px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #000;
}
.partners {
    margin: 0 auto;
    padding: 94px 0 93px;
    width: 1160px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.partners__link {
    display: block;
    width: 260px;
    height: 100px;
    font-size: 0;
}
.partners__link--dji {
    background: transparent url("../img/logo-1.jpg") no-repeat 0 0;
}
.partners__link--dji:hover {
    background: transparent url("../img/logo-1-hvr.jpg") no-repeat 0 0;
}
.partners__link--sp-gadgets {
    background: transparent url("../img/logo-2.jpg") no-repeat 0 0;
}
.partners__link--sp-gadgets:hover {
    background: transparent url("../img/logo-2-hvr.jpg") no-repeat 0 0;
}
.partners__link--gopro {
    background: transparent url("../img/logo-3.jpg") no-repeat 0 0;
}
.partners__link--gopro:hover {
    background: transparent url("../img/logo-3-hvr.jpg") no-repeat 0 0;
}
.partners__link--vive {
    background: transparent url("../img/logo-4.jpg") no-repeat 0 0;
}
.partners__link--vive:hover {
    background: transparent url("../img/logo-4-hvr.jpg") no-repeat 0 0;
}
.information {
    margin: 0 auto;
    padding: 0 0;
    width: 1160px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.information__about {
    position: relative;
    padding: 47px 0 82px;
    width: 500px;
}
.information__about::before,
.information__contacts::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #000;
}
.information__title {
    margin-bottom: 38px;
}
.information__text {
    width: 475px;
    margin-bottom: 30px;
}
.information__about .information__text:last-of-type {
    margin-bottom: 66px;
}
.information__delivery-list {
    margin-bottom: 54px;
}
.information__delivery-item {
    position: relative;
    padding-left: 35px;
    font-size: 16px;
    line-height: 40px;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
}
.information__delivery-item::before {
    content: "";
    position: absolute;
    top: 38%;
    left: 0;
    width: 10px;
    height: 10px;
    border: 3px solid #b2b2b2;
    background-color: transparent;
    border-radius: 50%;
    box-sizing: border-box;
}
.btn--information {
    width: 260px;
    padding: 11px 10px;
    text-align: center;
}
.information__contacts {
    position: relative;
    padding: 47px 0;
    width: 560px;
}
.information__contacts .information__text {
    width: auto;
    margin-bottom: 39px;
}
.information__map {
    margin-bottom: 65px;
    cursor: pointer;
}
.page-footer {
    background-color: #464646;
    color: #fff;
}
.page-footer__address {
    font-size: 15px;
    line-height: 30px;
}
.page-footer__container {
    margin: 0 auto;
    padding: 60px 0 63px;
    width: 1160px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: start;
        align-items: flex-start;
}
.main-logo--footer {
    color: #f7e184;
    margin-left: -3px;
    margin-bottom: 22px;
}
.main-logo--footer:hover {
    color: #f0c52e;
}
.main-logo--footer:active {
    color: #85743f;
}
.main-logo--footer-catalog {
    position: relative;
    top: -5px;
    left: -3px;
    margin-left: 0;
}
.page-footer__center-column {
    padding-top: 77px;
    width: 450px;
}
.page-footer__right-column {

}
.page-footer__right-column,
.page-footer__left-column {
    width: 330px;
}
.page-footer__left-column {
    position: relative;
    min-height: 201px;
}
.page-footer__right-column {
    text-align: right;
}
.page-footer__left-column::after {
    content: "";
    position: absolute;
    bottom: 17px;
    left: 0;
    width: 80px;
    height: 7px;
    background-color: #f7e184;
}
.page-footer__nav-list {
    padding-left: 13px;
    margin-bottom: 62px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.page-footer__nav-item:nth-child(2) {
    margin-right: 10px;
}
.page-footer__nav-item {
    color: #fff;
    text-transform: uppercase;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-size: 18px;
    letter-spacing: 3.5px;
}
.page-footer__nav-item:hover {
    opacity: 0.6;
}
.page-footer__nav-item:active {
    opacity: 0.3;
}
.page-footer__auth {
    margin-bottom: 33px;
}
.page-footer__tel {
    margin-bottom: 64px;
    font-size: 15px;
    line-height: 30px;
}
.page-footer__auth-item {
    display: inline-block;
    padding-left: 24px;
    margin-left: 37px;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.7);
    font-size: 15px;
    line-height: 36px;
}
.page-footer__auth-item:hover {
    color: rgba(255, 255, 255, 1);
}
.page-footer__auth-item:active {
    opacity: 0.3;
}
.page-footer__auth-item:first-child {
    margin-left: 0;
}
.social {
    text-align: center;
}
.social__link {
    margin: 0 6px;
    display: inline-block;
    width: 38px;
    height: 38px;
    vertical-align: top;
    font-size: 0;
    border: 2px solid #b5b5b5;
    border-radius: 50%;
    opacity: 0.6;
}
.social__link:hover {
    opacity: 1;
}
.social__link:active {
    opacity: 0.3;
}
.catalog {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: center;
        justify-content: center;
}
.content__header {
    padding: 38px 60px 40px;
    margin: 0 auto;
    width: 1160px;
}
.content__title {
    margin-bottom: 18px;
    letter-spacing: 0.5px;
    line-height: 47px;
}
.breadcrumbs {
    font-size: 0;
}
.breadcrumbs__item {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    margin-right: 13px;
    font-size: 14px;
    line-height: 36px;
    vertical-align: top;
    word-spacing: 2.5px;
    color: rgba(0, 0, 0, 0.3);
}
.breadcrumbs__item:first-child {
    padding-left: 0;
}
.breadcrumbs__item:first-child::before {
    display: none;
}
.breadcrumbs__item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -2px;
    width: 4px;
    height: 4px;
    border: 1px solid #000;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
}
.breadcrumbs__item:hover {
    color: rgba(0, 0, 0, 0.6);
}
.breadcrumbs__item:active {
    color: rgba(0, 0, 0, 0.1);
}
.catalog__content {
    margin-right: auto;
    width: 832px;
}
.catalog__items {
    padding-top: 49px;
    padding-left: 52px;
    margin-bottom: 9px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-line-pack: start;
        align-content: flex-start;
}
.catalog__item {
    margin: 20px;
    width: 360px;
}
.catalog__item:nth-child(even) {
    margin-right: 0;
}
.catalog__item-view {
    position: relative;
    margin-bottom: 34px;
    height: 380px;
    cursor: pointer;
}
.catalog__item-view:hover img {
    opacity: 0.6;
}
.catalog__item-view:hover a {
    display: block;
}
.btn--add-cart {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    padding: 11px 10px;
}
.catalog__btn-compare {
    display: none;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 13px;
    line-height: 36px;
    opacity: 0.5;
}
.catalog__btn-compare:hover {
    opacity: 1;
}
.catalog__btn-compare:active {
    opacity: 0.3;
}
.catalog__item-info {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: baseline;
        align-items: baseline;
}
.catalog__item-name {
    display: inline-block;
    width: 260px;
    margin: 0;
    padding: 0;
    line-height: 21px;
    word-spacing: 3.5px;
    vertical-align: top;
}

.catalog__item-cost {
    display: block;
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 16px;
    line-height: 16px;
}
.catalog__column-container {
    background-color: #dcdcdc;
}
.catalog__column-container--content {
    background-color: #ebebeb;
}
.catalog__column-header {
    padding: 27px 0 27px;
    margin-bottom: 69px;
    background-color: transparent;
}
.catalog__column-header--filter {
    width: 328px;
    padding-left: 60px;
    margin-left: auto;
    background-color: transparent;
}
.catalog__column-title {
    display: block;
    margin-right: 50px;
    font-weight: normal;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 3.7px;
}
.catalog__sort-option {
    margin-right: 29px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    opacity: 0.3;
}
.catalog__sort-option:hover  {
    opacity: 0.6;
}
.catalog__sort-option:active  {
    opacity: 1;
}
.catalog__sort-option--active {
    opacity: 1;
}
.catalog__column-header--sort {
    padding: 26px 0 26px 72px;
    margin-bottom: 0;
    width: 832px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
        align-items: baseline;
}
.catalog__sort-option--up {
    margin-left: auto;
    margin-right: 26px;
}
.catalog__sort-option--up,
.catalog__sort-option--down {
    position: relative;
    display: block;
    width: 17px;
    height: 18px;
    text-indent: -9999px;
    overflow: hidden;
}
.catalog__sort-option--up::before {
    display: block;
    content: "";
    position: absolute;
    bottom: 5px;
    border: 9px solid #000;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom: 9px solid #000;
}
.catalog__sort-option--down {
    margin-right: 0;
}
.catalog__sort-option--down::before {
    display: block;
    content: "";
    position: absolute;
    top: 4px;
    border: 9px solid #000;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top: 9px solid #000;
    border-bottom-color: transparent;
}
.paginator {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    margin-left: 72px;
    margin-bottom: 73px;
    width: 760px;
    background-color: #ebebeb;
}
.pagnator__item {
    margin: 0 13px;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.3);
}
.pagnator__item:hover {
    color: rgba(0, 0, 0, 0.6);
}
.pagnator__item:active {
    color: rgba(0, 0, 0, 1);
}
.pagnator__item--active {
    color: rgba(0, 0, 0, 1);
}
.pagnator__item:nth-child(2) {
    margin: 0 19px;
}
.pagnator__item--prev {
    padding: 27px 25px 27px 30px;
    position: relative;
    margin-right: auto;
    margin-left: 0;
    letter-spacing: 3.7px;
    background-color: #ebebeb;
    color: #000;
}

.pagnator__item--next {
    padding: 27px 25px 27px 32px;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    letter-spacing: 3.7px;
    background-color: #ebebeb;
    color: #000;
}
.pagnator__item--prev:hover,
.pagnator__item--next:hover {
    color: #000;
    background-color: #d9d9d9;
}
.pagnator__item--prev:active,
.pagnator__item--next:active {
    color: rgba(0, 0, 0, 0.3);
}
.catalog__filter-container {
    background-color: #eee;
    -ms-flex-positive: 1;
        flex-grow: 1;
}
.catalog__content-container {
    background-color: #fff;
    -ms-flex-positive: 1;
        flex-grow: 1;
}
.catalog__filter {
    margin-left: auto;
    padding-left: 60px;
    width: 328px;
}
.catalog__filter-form {
    width: 200px;
}
.catalog__filter-group {
    margin: 0;
    padding: 0;
    padding-bottom: 31px;
    border: none;
}
.catalog__filter-group--cost {
    padding-bottom: 0;
}
.catalog__filter-name {
    position: relative;
    display: block;
    padding: 15px 0;
    margin-bottom: 6px;
    width: 100%;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
}
.catalog__filter-name::before {
    position: absolute;
    top: 0;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000;
}
.catalog__filter-name--cost {
    margin-bottom: 23px;
}
.btn--show-results {
    border: none;
    outline: none;
    margin-left: -3px;
}
.catalog__range-controls {
    position: relative;
    width: 100%;
    margin-bottom: 13px;
}
.catalog__range-scale {
    height: 2px;
    background-color: #dbdbdb;
}
.catalog__range-bar {
    height: 2px;
    width: 120px;
    background-color: #91c92f;
}
.catalog__range-toggle {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    border: 2px solid #000;
    border-radius: 50%;
    background-color: #eeeeee;
    cursor: pointer;
}
.catalog__range-toggle:active {
    background-color: #7eae29;
    border-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.75);
}
.catalog__range-toggle--max {
    left: auto;
    right: 76px;
}
.catalog__range-value--min {
    margin-right: 59px;
}
.catalog__range-value {
    display: inline-block;
    margin-bottom: 40px;
    vertical-align: top;
    color: #d3d3d3;
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
}
.catalog__filter-group input {
    display: none;
}
.catalog__filter-label {
    position: relative;
    display: block;
    padding-left: 38px;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
}
.catalog__filter-label::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 8px;
    width: 23px;
    height: 23px;
    background-color: #dbdbdb;
}
.catalog__filter-label:hover::before {
    background-color: #cecece;
}
.catalog__filter-label:active::before {
    background-color: #c4c4c4;
}
.catalog__filter-label--radio::before {
    top: 17px;
    left: 7px;
    width: 5px;
    height: 5px;
    box-shadow: 0 0 0 2px #efefef,
                0 0 0 7px #efefef,
                0 0 0 9px #c6c6c6;
    border-radius: 50%;
    background: #efefef;
}
.catalog__filter-label--radio::after {
    display: none;
}
.catalog__filter-label--radio:hover::before {
    box-shadow: 0 0 0 2px #efefef,
                0 0 0 7px #efefef,
                0 0 0 9px #bcbcbc;
    background: #efefef;
}
.catalog__filter-label--radio:active::before {
    box-shadow: 0 0 0 2px #000,
                0 0 0 7px #efefef,
                0 0 0 9px #acacac;
    background: #efefef;
}
.catalog__filter-input:checked + .catalog__filter-label::after {
    position: absolute;
    left: 7px;
    top: 12px;
    content: "";
    width: 3px;
    height: 7px;
    border: 2px solid #000;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(48deg);
}
.catalog__filter-input:checked[type="radio"] + .catalog__filter-label::before {
    box-shadow: 0 0 0 2px #000,
                0 0 0 7px #efefef,
                0 0 0 9px #c6c6c6;
}
.catalog__filter-input:checked[type="radio"] + .catalog__filter-label:hover::before {
    box-shadow: 0 0 0 2px #000,
                0 0 0 7px #efefef,
                0 0 0 9px #bcbcbc;
}
.catalog__filter-input:checked[type="radio"] + .catalog__filter-label:active::before {
    box-shadow: 0 0 0 2px #efefef,
                0 0 0 7px #efefef,
                0 0 0 9px #acacac;
}
.popup--map {
     position: relative;
     display: inline-block;
     display: none;
     width: 960px;
     height: 559px;
     vertical-align: middle;
     background: #fff url("../img/map-big.jpg") no-repeat 50% 50%;
}
.map {
    width: 100%;
    height: 100%;
}
.overlay {
    display: none;
    position: fixed;
    left:  0;
    top:  0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
}
.overlay::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
}
.popup--feedback {
    display: inline-block;
    display: none;
    padding: 96px 100px 78px;
    vertical-align: middle;
    position: relative;
    width: 960px;
    background: #fff;
    box-shadow: 55px 0 40px -40px rgba(0, 0, 0, 0.3),
                -55px 0 40px -40px rgba(0, 0, 0, 0.3),
                0 10px 20px 5px rgba(0, 0, 0, 0.2);
}
.popup__form {
    text-align: justify;
    font-size: 0;
    -moz-text-align-last: justify;
         text-align-last: justify;
    line-height: 0;
    font-size: 1px;
}
.popup__form:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    vertical-align: top;
}
.popup__input-group {
    width: 360px;
    -moz-text-align-last: left;
         text-align-last: left;
    text-align: left;
    line-height: normal;
    font-size: 14px;
}
.popup__input-group--name {
    display: inline-block;
    vertical-align: top;
}
.popup__input-group--mail {
    display: inline-block;
    vertical-align: top;
}
.popup__input--textarea {
    min-height: 156px;
    max-width: 100%;
    overflow: auto;
}
.popup__input-group--message {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 17px;
}
.btn--feedback-submit {
    padding: 11px 34px;
    width: 200px;
    letter-spacing: 4px;
    border: none;
    outline: none;
}
.popup__label {
    display: block;
    margin-bottom: 10px;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
}
.popup__input {
    padding: 15px 20px 17px;
    margin-bottom: 20px;
    width: 100%;
    border: none;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: #f2f2f2;
    outline: none;
}
.popup__input:hover {
    background-color: #eaeaea;
}
.popup__input:focus {
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #e5e5e5;
}
.popup__input:invalid {
    background-color: #f6dada;
    box-shadow: none;
}
.colored {
    padding: 20px 0;
    background-color: pink;
}
.popup__close-btn {
    position: absolute;
    top: 21px;
    right: 22px;
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #f0c52e;
    z-index: 100;
    cursor: pointer;
    opacity: 0.5;
}
.popup__close-btn::before,
.popup__close-btn::after {
    content: "";
    position: absolute;
    left: 12px;
    top: 27px;
    width: 31px;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
}
.popup__close-btn::after {
    transform: rotate(-45deg);
}
.popup__close-btn:hover {
    opacity: 1;
}
.popup__close-btn:active::before,
.popup__close-btn:active::after {
    background-color: #f5d76d;
}
.overlay-show {
    display: block;
}
.popup-show {
    display: inline-block;
    animation: bounce 0.6s;
    vertical-align: middle;
}
.popup-error {
    animation: shake 0.6s;
}
.page-footer__htmlacademy {
    display: inline-block;
    width: 27px;
    height: 34px;
    vertical-align: top;
}
.page-footer__htmlacademy:active {
    opacity: 0.3;
}
.catalog__item--new {
    position: relative;
}
.catalog__item--new::after {
    content: "";
    position: absolute;
    top: 29px;
    right: 27px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid #000;
    opacity: 0.1;
}
.catalog__item--new::before {
    content: "new";
    position: absolute;
    top: 53px;
    right: 38px;
    font-family: "Gilroy Extrabold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    opacity: 0.2;
    z-index: 3;
    letter-spacing: 1px;
}
.sprite-icon {
    position: relative;
}
.sprite-icon::before {
    content: "";
    position: absolute;
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
}
.main-nav__user-login::before,
.main-nav__user-current::before {
    top: 11px;
    left: 0;
    width: 13px;
    height: 12px;
    background-position: -5px -277px;
}
.main-nav__user-compare::before {
    left: 6px;
    top: 13px;
    width: 10px;
    height: 10px;
    background-position: -5px -191px;
}
.main-nav__user-cart::before {
    top: 11px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-position: -5px -125px;
}
.main-nav__search-form {
    position: relative;
    font-size: 0;
}
.main-nav__search-form::before {
    content: "";
    position: absolute;
    top: 17px;
    left: 3px;
    width: 16px;
    height: 16px;
    background-position: -5px -251px;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
}
.page-footer__auth-item--login::before {
    left: 0;
    top: 12px;
    width: 13px;
    height: 12px;
    background-position: -5px -299px;
}
.page-footer__auth-item--login:hover::before {
    width: 13px;
    height: 12px;
    background-position: -5px -321px;
}
.page-footer__auth-item--compare::before {
    left: 4px;
    top: 14px;
    width: 10px;
    height: 10px;
    background-position: -5px -211px;
}
.page-footer__auth-item--compare:hover::before {
    width: 10px;
    height: 10px;
    background-position: -5px -231px;
}
.page-footer__auth-item--cart::before {
    left: 1px;
    top: 12px;
    width: 12px;
    height: 12px;
    background-position: -5px -147px;
}
.page-footer__auth-item--cart:hover::before {
    width: 12px;
    height: 12px;
    background-position: -5px -169px;
}
.social__link--facebook::before {
    top: 5px;
    left: 11px;
    width: 12px;
    height: 22px;
    background-position: -5px -5px;
}
.social__link--instagram::before {
    top: 6px;
    left: 6px;
    width: 23px;
    height: 22px;
    background-position: -5px -343px;
}
.social__link--twitter::before {
    top: 8px;
    left: 7px;
    width: 22px;
    height: 18px;
    background-position: -5px -375px;
}
.page-footer__htmlacademy::before {
    top: 0;
    left: 0;
    width: 27px;
    height: 34px;
    background-position: -5px -37px;
}
.page-footer__htmlacademy:hover::before {
    width: 27px;
    height: 34px;
    background-position: -5px -81px;
}
